# Application
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/urlshortener?schema=public"

# Snowflake ID Generator
REGION_ID=0  # 0-7
WORKER_ID=0  # 0-1023

# CORS
CORS_ORIGIN=*
